/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
/* line 15, /home/celsior/pet/ssg/content/_theme/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* line 25, /home/celsior/pet/ssg/content/_theme/_reset.scss */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* line 29, /home/celsior/pet/ssg/content/_theme/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 33, /home/celsior/pet/ssg/content/_theme/_reset.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
/* line 43, /home/celsior/pet/ssg/content/_theme/_reset.scss */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
/* line 58, /home/celsior/pet/ssg/content/_theme/_reset.scss */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
/* line 62, /home/celsior/pet/ssg/content/_theme/_reset.scss */
ul {
  list-style: none;
}

/* line 64, /home/celsior/pet/ssg/content/_theme/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 66, /home/celsior/pet/ssg/content/_theme/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 71, /home/celsior/pet/ssg/content/_theme/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 72, /home/celsior/pet/ssg/content/_theme/_reset.scss */
a:link {
  color: inherit;
}

/* line 73, /home/celsior/pet/ssg/content/_theme/_reset.scss */
a:visited {
  color: inherit;
}

/* line 74, /home/celsior/pet/ssg/content/_theme/_reset.scss */
a:hover {
  color: inherit;
}

/* line 75, /home/celsior/pet/ssg/content/_theme/_reset.scss */
a:active {
  color: inherit;
}

/* line 77, /home/celsior/pet/ssg/content/_theme/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 79, /home/celsior/pet/ssg/content/_theme/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 82, /home/celsior/pet/ssg/content/_theme/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 83, /home/celsior/pet/ssg/content/_theme/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 84, /home/celsior/pet/ssg/content/_theme/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 86, /home/celsior/pet/ssg/content/_theme/_reset.scss */
hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid gray;
  margin: 1em 0;
  padding: 0;
  flex: 0 0 auto;
}

/* line 88, /home/celsior/pet/ssg/content/_theme/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 90, /home/celsior/pet/ssg/content/_theme/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 97, /home/celsior/pet/ssg/content/_theme/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 99, /home/celsior/pet/ssg/content/_theme/_reset.scss */
select, input, textarea {
  font: inherit;
}

/* line 101, /home/celsior/pet/ssg/content/_theme/_reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 103, /home/celsior/pet/ssg/content/_theme/_reset.scss */
small {
  font-size: 85%;
}

/* line 105, /home/celsior/pet/ssg/content/_theme/_reset.scss */
strong {
  font-weight: bold;
}

/* line 107, /home/celsior/pet/ssg/content/_theme/_reset.scss */
td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
/* line 110, /home/celsior/pet/ssg/content/_theme/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 111, /home/celsior/pet/ssg/content/_theme/_reset.scss */
sup {
  top: -0.5em;
}

/* line 112, /home/celsior/pet/ssg/content/_theme/_reset.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 115, /home/celsior/pet/ssg/content/_theme/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 118, /home/celsior/pet/ssg/content/_theme/_reset.scss */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 126, /home/celsior/pet/ssg/content/_theme/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 129, /home/celsior/pet/ssg/content/_theme/_reset.scss */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 133, /home/celsior/pet/ssg/content/_theme/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
/* line 141, /home/celsior/pet/ssg/content/_theme/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 142, /home/celsior/pet/ssg/content/_theme/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 143, /home/celsior/pet/ssg/content/_theme/_reset.scss */
.clearfix {
  zoom: 1;
}

/* line 145, /home/celsior/pet/ssg/content/_theme/_reset.scss */
b, strong {
  font-weight: bold;
}

@font-face {
  font-family: 'ShareIcons';
  font-style: normal;
  font-weight: 400;
  src: url(/images/share.woff) format("woff");
}
/* line 25 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 300;
  vertical-align: baseline;
  background: transparent;
}

/* line 35 */
abbr[title] {
  border-bottom: none;
}

/* line 39 */
strong {
  font-weight: bold;
}

/* line 43 */
em {
  font-style: italic;
}

/* line 47 */
strong em, em strong {
  font-weight: bold;
  font-style: italic;
}

/* line 54 */
ol {
  padding-inline-start: 32px;
}

/* line 58 */
ul {
  padding-inline-start: 32px;
  list-style-type: circle;
}

/* line 63 */
p, ol, ul, table, pre {
  margin: 0px auto 16px auto;
}

/* line 67 */
ul ul {
  margin: unset;
}

/* line 71 */
.clearfix {
  overflow: auto;
}

/* line 75 */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 81 */
mjx-container[jax="CHTML"] {
  font-weight: 700;
  margin: unset !important;
  font-size: 110%;
}

/* line 87 */
mjx-container[jax="CHTML"][display="true"] {
  font-size: 130%;
  font-weight: normal;
}

/* line 94 */
blockquote {
  border-left: 4px rgba(0, 0, 0, 0.4) solid;
  padding: 5px;
  margin-top: 0;
}

/* line 100 */
input {
  width: 100%;
}

/* line 105 */
button, input, select, textarea, .menu-link {
  font-family: Arial, sans-serif;
}

/* line 110 */
nav.menu {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  margin: 0 auto;
}
/* line 119 */
nav.menu a {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
/* line 125 */
nav.menu ul.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  padding-inline-start: unset;
}
/* line 134 */
nav.menu .menu-item:hover {
  text-decoration: underline;
}
/* line 138 */
nav.menu .menu-link-home:hover {
  text-decoration: underline;
}
/* line 142 */
nav.menu .menu-head {
  display: flex;
}
/* line 145 */
nav.menu .menu-head .social {
  display: flex;
  align-items: center;
  font-size: 120%;
}
/* line 150 */
nav.menu .menu-head .social .menu-link {
  padding: 0em 0.2em;
}
/* line 155 */
nav.menu .menu-head .menu-link-home {
  white-space: normal;
  flex-basis: 100%;
}
/* line 161 */
nav.menu input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* line 167 */
nav.menu input:hover ~ .checkmark {
  color: rgba(0, 0, 0, 0.8);
}
/* line 171 */
nav.menu input:checked ~ .checkmark {
  color: rgba(0, 0, 0, 0.8);
}
/* line 175 */
nav.menu input:checked ~ ul.menu {
  display: inline;
  margin-left: 48px;
  line-height: 1.6;
}
/* line 180 */
nav.menu input:checked ~ ul.menu .menu-item {
  display: block;
  height: unset;
}
/* line 187 */
nav.menu .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  transform: translate(25%, -25%);
  font-size: 46px;
  color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 550px) {
  /* line 199 */
  nav.menu .menu-container {
    display: grid;
    grid-template-areas: "menu-sw title" "menu menu";
    grid-template-columns: 32px auto;
  }
  /* line 207 */
  nav.menu .menu-head {
    grid-area: title;
  }
  /* line 211 */
  nav.menu ul.menu {
    grid-area: menu;
    display: none;
  }
}
@media not screen and (max-width: 550px) {
  /* line 218 */
  nav.menu input, nav.menu .checkmark {
    display: none;
  }
}

/* line 225 */
body {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  max-width: 700px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 35.5em) {
  /* line 225 */
  body {
    line-height: 1.6;
  }
}

/* line 244 */
.calc-form table {
  table-layout: fixed;
}
/* line 248 */
.calc-form tr {
  width: 100%;
}
/* line 251 */
.calc-form td, .calc-form th {
  padding: 0 10px 0 10px;
  width: 50%;
  border: none;
}

/* line 258 */
td, th {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0 5px 0 5px;
}

/* line 265 */
.payments tr * {
  padding: 0 10px 0 10px;
  font-family: "Courier New", Courier, monospace;
}
/* line 270 */
.payments tr:hover {
  background-color: lightgray;
}

/* line 275 */
.collapse-content {
  display: none;
}

/* line 279 */
.collapse-content.active {
  display: inherit;
}

/* line 283 */
.product-badge {
  max-width: 50%;
  height: auto;
}

/* line 289 */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

/* line 294 */
h1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  padding: 16px 0;
  margin: 0 auto;
  text-align: center;
}

/* line 303 */
h2 {
  font-size: 24px;
  padding: 16px 0;
  line-height: 1.2;
}

/* line 309 */
h3 {
  font-size: 20px;
  padding: 8px 0;
  line-height: 1.2;
}

/* line 315 */
a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

/* line 320 */
hr {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  border: 0;
}

/* line 328 */
.disclaimer {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  background-color: #fff;
  font-size: 12px;
  padding-top: 16px;
}

/* line 339 */
article {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  background-color: #fff;
}
/* line 345 */
article .meta {
  letter-spacing: -0.02em;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.44);
  font-style: italic;
}
/* line 352 */
article .content {
  margin: 0 auto;
}

/* line 359 */
.posts article h1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  padding: 16px 0;
  margin: 0 auto;
  text-align: left;
}
/* line 367 */
.posts article h1 a {
  text-decoration: none;
}

/* line 375 */
.wide-content > table {
  width: 100%;
  float: right;
  table-layout: fixed;
}

/* line 383 */
.output::-webkit-inner-spin-button,
.output::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 389 */
.output {
  -moz-appearance: textfield;
  background-color: white;
  border-style: hidden;
  font-weight: bold;
}

/* line 396 */
i.share {
  font-family: 'ShareIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 409 */
.share-buttons {
  text-align: right;
}
/* line 411 */
.share-buttons a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.44);
}
/* line 415 */
.share-buttons a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* line 421 */
.donate-button {
  text-decoration: none;
}
/* line 424 */
.donate-button:link {
  color: rgba(0, 0, 0, 0.44);
}
/* line 428 */
.donate-button:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* line 433 */
.prevupnext {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
/* line 438 */
.prevupnext a {
  text-decoration: none;
  font-size: small;
  color: rgba(0, 0, 0, 0.44);
}
/* line 443 */
.prevupnext a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 449 */
.prevupnext .prev {
  text-align: left;
  grid-column: 1;
}
/* line 453 */
.prevupnext .up {
  text-align: center;
  grid-column: 2;
}
/* line 458 */
.prevupnext .next {
  text-align: right;
  grid-column: 3;
}

/* line 464 */
details summary {
  text-decoration: underline dashed;
}
