<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Калькуляторы кредитов</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <link href="/feed.atom.xml" type="application/atom+xml" rel="alternate" title="Житейские воззрения пана Семушельского Atom Feed" />
        <meta name="description" content="Калькуляторы для расчёта, сравнения и выбра различных схем выплаты кредитов. Насколько выгоднее или невыгоднее взять кредит и вложить по сравнению с постепенным накоплением." />
        <meta name="keywords" content="калькулятор, кредит, аннуитетная схема, дифференцированная схема, сравнение схем погашения, кредит и инфляция" />

<meta property="og:locale" content="ru" />

    <meta property="og:description" content="Калькуляторы для расчёта, сравнения и выбра различных схем выплаты кредитов. Насколько выгоднее или невыгоднее взять кредит и вложить по сравнению с постепенным накоплением." />

    <meta property="og:type" content="article" />
        <meta property="og:article:modified_time" content="2019-09-22" />
<meta property="og:title" content="Калькуляторы кредитов" />
<meta property="og:url" content="https://onfin.github.io/calculators/credits" />



</head>
<body>
    <nav class="navigation pure-menu pure-menu-horizontal">
        <a href="/" class="pure-menu-link">Житейские воззрения пана Семушельского</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/blog" class="pure-menu-link">Сиюминутное</a></li>
            <li class="pure-menu-item"><a href="/pages/literacy" class="pure-menu-link">Грамотность</a></li>
            <li class="pure-menu-item"><a href="/pages/halava" class="pure-menu-link">Халява</a></li>
            <li class="pure-menu-item"><a href="/pages/sources" class="pure-menu-link">Источники</a></li>
            <li class="pure-menu-item"><a href="/pages/calculators" class="pure-menu-link">Калькуляторы</a></li>
        </ul>
    </nav>

    <main>
<div class="page-container">
    <div class="entry-content post-meta pure-u-3-4">
            <div class="entry-info"> Обновлено: 2019-09-22 </div>
    </div>

    <div class="article-header-container">
        <div class="background-image-container">
            <div class="background-image-small">
                <div class="title-container">
                    <h1>Калькуляторы кредитов</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="entry-content">
        <script type="text/javascript" src="/js/forms.js"></script>

<script type="text/javascript" src="/js/nunjucks.min.js"></script>

<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

<form id="credit">
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>Сумма</td>
<td><input id="sum" type="number" step=1000 onChange="creditForm.onChange(this)" /></td>
</tr>
<tr>
<td>Срок, мес</td>
<td><input id="months" type="number" step=1 onChange="creditForm.onChange(this)" /></td>
</tr>
<tr>
<td>Ставка, %г</td>
<td><input id="interestRate" type="number" step=0.5 onChange="creditForm.onChange(this)" /></td>
</tr>
<tr>
<td>Инфляция, %г</td>
<td><input id="inflation" type="number" step=0.5 onChange="creditForm.onChange(this)" /></td>
</tr>
<tr>
<td>Ставка по вложениям, %г</td>
<td><input id="investRate" type="number" step=0.5 onChange="creditForm.onChange(this)" /></td>
</tr>
</tbody>
</table>
</form>
<h1 id="_1">Аннуитетное погашение</h1>
<div id="annuitySchedule"></div>

<h1 id="_2">Дифференцированное погашение</h1>
<div id="diffSchedule"></div>

<h1 id="_3">Погашение в конце срока</h1>
<div id="lumpSumSchedule"></div>

<h1 id="_4">Занять и вложить</h1>
<div id="borrowAndInvestSchedule"></div>

<p></p>
<script type="text/javascript">
    function toggleCollapsible(elem) {
        elem.classList.toggle("active");
        elem.nextElementSibling.classList.toggle("active");
    }

    const scheduleTemplate = nunjucks.compile(`
            <p>Полная сумма платежей: {{total | round(0)}}<br>
                С учётом инфляции: {{real | round(0)}}</p>

            <button class="collapse-btn" onClick="toggleCollapsible(this)">Расписание платежей</button>
            <div class="payment collapse-content">
                <table class="payments">
                    <tr>
                        <th>Месяц</th>
                        <th>Платёж</th>
                        <th>Остаток</th>
                        <th>На проценты</th>
                        <th>На погашение</th>
                        <th>Реальный платёж</th>
                    </tr>
                    {% for p in payments %}
                        <tr>
                            <td align="right">{{p.month}}</td>
                            <td align="right">{{(p.interest+p.principal) | round(0)}}</td>
                            <td align="right">{{p.sum | round(0)}}</td>
                            <td align="right">{{p.interest | round(0)}}</td>
                            <td align="right">{{p.principal | round(0)}}</td>
                            <td align="right">{{p.realPayment | round(0)}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    `);

    const borrowAndInvestTemplate = nunjucks.compile(`
            <p>
                Конечный капитал с инвестированием займа: {{capitalWithCredit | round(0)}}<br>
                Конечный капитал с инвестированием накоплений: {{capitalWithSavings | round(0)}}<br>
                Дополнительная доходность схемы: {{extra | round(2)}}%г
            </p>

            <button class="collapse-btn" onClick="toggleCollapsible(this)">Расписание накопления</button>
            <div class="collapse-content">
                <table class="payments">
                    <tr>
                        <th>Месяц</th>
                        <th>С займом</th>
                        <th>С накоплением</th>
                    </tr>
                    {% for p in schedule %}
                        <tr>
                            <td align="right">{{p.month}}</td>
                            <td align="right">{{p.capitalWithCredit | round(0)}}</td>
                            <td align="right">{{p.capitalWithSavings | round(0)}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    `);


    const creditForm = new Form("credit",
        {
        sum: 2000000,
        months: 120,
        interestRate: 9,
        inflation: 5,
        investRate: 7
        },
        function() {
            const annuitySchedule = calcAnnuitySchedule(this.fields);
            document.getElementById("annuitySchedule").innerHTML = scheduleTemplate.render(annuitySchedule);

            const diffSchedule = calcDiffSchedule(this.fields);
            document.getElementById("diffSchedule").innerHTML = scheduleTemplate.render(diffSchedule);

            const lumpSumSchedule = calcLumpSumSchedule(this.fields);
            document.getElementById("lumpSumSchedule").innerHTML = scheduleTemplate.render(lumpSumSchedule);

            const borrowAndInvestSchedule = calcBorrowAndInvest(this.fields);
            document.getElementById("borrowAndInvestSchedule").innerHTML = borrowAndInvestTemplate.render(borrowAndInvestSchedule);

            // const months = this.fields.months;
            // new Chartist.Line('.schedule-chart', {
            //     labels: _.range(1,months),
            //     series: [
            //         {name: "погашение", "data": annuitySchedule.payments.map(p => p.principal)},
            //         {name: "проценты", "data": annuitySchedule.payments.map(p => p.principal+p.interest)},
            //     ]
            //     }, {
            //         showArea: true,
            //         showLine: false,
            //         showPoint: false,
            //         fullWidth: true,
            //         axisX: {
            //             labelInterpolationFnc: function(value, index) {
            //                 return index % (months/10) === 0 ? value : null;
            //             }
            //         }
            // });
        }
    );

    function annuityCoeff(data) {
        const monthRate = data.interestRate/100/12;
        return monthRate*Math.pow(1+monthRate, data.months)/(Math.pow(1+monthRate, data.months)-1);
    }

    function annuityPayment(data) {
        return data.sum * annuityCoeff(data);
    }

    function diffConstPayment(data) {
        return data.sum/data.months;
    }

    function calcAnnuitySchedule(data) {
        let sum = data.sum;
        const pay = annuityPayment(data);
        const monthInfl = data.inflation/100/12;
        const monthRate = data.interestRate/100/12;

        const payments = [];
        let paymentReal = 0;
        let paymentTotal = 0;
        for (let m = 0; m < data.months; ++m) {
            payments.push({
                month: m+1,
                sum: sum - pay + monthRate*sum,
                interest: monthRate*sum,
                principal: pay - monthRate*sum,
                realPayment: pay / Math.pow(1+monthInfl, m)
            });
            sum -= pay - monthRate*sum ;
            paymentReal += pay / Math.pow(1+monthInfl, m);
            paymentTotal += pay;
        };

        return {payments: payments, real: paymentReal, total: paymentTotal};
    }

    function calcDiffSchedule(data) {
        let sum = data.sum;
        const pay = data.sum/data.months;
        const monthInfl = data.inflation/100/12;
        const monthRate = data.interestRate/100/12;

        const payments = [];
        let paymentReal = 0;
        let paymentTotal = 0;
        for (let m = 0; m < data.months; ++m) {
            payments.push({
                month: m+1,
                sum: sum - pay,
                interest: monthRate*sum,
                principal: pay,
                realPayment: (pay+monthRate*sum) / Math.pow(1+monthInfl, m)
            });
            sum -= pay;
            paymentReal += (pay+monthRate*sum) / Math.pow(1+monthInfl, m);
            paymentTotal += (pay+monthRate*sum);
        };

        return {payments: payments, real: paymentReal, total: paymentTotal};
    }

    function calcLumpSumSchedule(data) {
        let sum = data.sum;
        const monthInfl = data.inflation/100/12;
        const monthRate = data.interestRate/100/12;

        const payments = [];
        let paymentReal = 0;
        let paymentTotal = 0;
        for (let m = 0; m < data.months; ++m) {
            const principal = (m === data.months-1) ? sum : 0;
            payments.push({
                month: m+1,
                sum: sum,
                interest: monthRate*sum,
                principal: principal,
                realPayment: (principal + monthRate*sum) / Math.pow(1+monthInfl, m)
            });
            sum -= principal;
            paymentReal += (principal+monthRate*sum) / Math.pow(1+monthInfl, m);
            paymentTotal += (principal+monthRate*sum);
        };

        return {payments: payments, real: paymentReal, total: paymentTotal};
    }

    function calcBorrowAndInvest(data) {
        let capitalWithCredit = data.sum;
        let capitalWithSavings = 0;
        const pay = annuityPayment(data);
        const monthInfl = data.inflation/100/12;
        const monthInterest = data.interestRate/100/12;
        const monthRent = data.investRate/100/12;

        const schedule = [];
        for (let m = 0; m < data.months; ++m) {
            capitalWithCredit = capitalWithCredit*(1+monthRent);
            capitalWithSavings = capitalWithSavings*(1+monthRent) + pay;

            schedule.push({
                month: m+1,
                capitalWithCredit,
                capitalWithSavings
            });
        };

        return {capitalWithCredit, capitalWithSavings, schedule,
            extra: (Math.pow(capitalWithCredit/capitalWithSavings, 12.0/data.months)-1)*100};
    }
</script>

<p></p>
        <hr>
    </div>

    <footer>
        <div class="pagination">
            <div class="post-meta pure-g">
                <div class="pure-u-1-3 left">
                </div>
                <div class="pure-u-1-3 center">
                            <a href="/pages/calculators"> &uarr; Калькуляторы &uarr; </a>
                </div>
                <div class="pure-u-1-3 right">
                </div>
            </div>
        </div>
    </footer>

</div>

    </main>
</body>
</html>